{{> layouts/head }}
{{> layouts/header }}


<div class="container login">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 login-main-part">
            <div class="box">
                <h2 class="text-center">Введите новый пароль</h2>

                <form class="login-form d-flex flex-column align-items-center" action="/new-password" method="POST">

                        <input type="password" name="password" id="password" placeholder="Новый пароль">
                    <input type="hidden" name="userId" value="{{ userId }}">
                    <input type="hidden" name="passwordToken" value="{{passwordToken}}">
                    <button class="btn" type="submit">Обновить пароль</button>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

{{> layouts/footer }}