<h2 class="text-left d-none d-lg-block">{{user.username}}</h2>
<hr class="d-none d-lg-block">

<ul >
    <li><a href="/account">МОЙ ПРОФИЛЬ</a></li>
    <li><a href="/account/orders">ЗАКАЗЫ</a></li>
    <li><a href="/account/favourites">ИЗБРАННОЕ</a></li>
</ul>
