<div id="account_popover">
    <p class="h2 main-font text-center mt-2">Личный кабинет</p>
    <hr/>
    <div class="text-center">
        <a href=""></a>
        <div class="list-group">
            <a href="/account" class="list-group-item list-group-item-action rounded-0">Профиль</a>
            <a href="/account/orders" class="list-group-item list-group-item-action">Заказы</a>
            <a href="/account/favourites" class="list-group-item list-group-item-action">Избранное</a>
            <a href="/logout" class="list-group-item list-group-item-action rounded-0">Выход</a>
        </div>
    </div>
</div>
