<div class="properties">

    <h6>ГРУППА</h6>
    <p>{{this.properties.[Группа].value_name}}</p>
    <h6>ВЕРХНИЕ НОТЫ</h6>
    <h6>СРЕДНИЕ НОТЫ</h6>
    <h6>БАЗОВЫЕ НОТЫ</h6>
    <h6>СТОЙКОСТЬ</h6>
    {{this.[0].description}}
</div>