<div class="product-box col-6 col-md-2dot4">
    <div class="image">
            <a href="/collection/{{slug}}">
                <img class="product-box-image img-fluid" src="/{{ image_url }}">
            </a>

    </div>
    <h3 class="product__title">{{ collection_name}} </h3>
</div>
