<form method="GET" action="/filter/">
    <div class="row flex-column  justify-items-center">
        <select name="order" class="custom-select align-self-center my-1 mr-sm-2 mb-2" id="inlineFormCustomSelectPref">
            <option selected value="ASC">Порядок</option>
            <option value="ASC">A-Z</option>
            <option value="DESC">Z-A</option>
        </select>
        <div class="submit-filter align-self-center mt-2">
            <input class="submit" type="submit" value="Показать">
        </div>
    </div>
</form>