<div id="search_popover" class="hidden">
    <form action="/search" method="get">
        <div class="input-group">
            <input type="search" class="form-control ds-input" placeholder="Поиск аромата" name="key_word">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </div>
        </div>
    </form>
</div>
