<div id="rating">
    <div><div class="stars"></div><p class="progress" id="p1"></p></div>
    <div class="rating" id="param1">5.0</div>

    <input id="el_999" type="submit" value="Отправить!">
    <p id="message"></p>
</div>