/*ГЛАВНАЯ*/

.card {
  border: none;
}

.product .card-body {
  text-align: center;
}
.card-title{
  margin-bottom: 0;
}
.card-header {
  position: relative;
  background: white;
  padding: 0;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 100%;
}

.card-header a {
  margin-left: auto;
  margin-right: auto;
}

.card-header .img-wrap {
  margin: 2rem auto;
  width: 60%;
}

.card-header img {
  border: none;
}

.topic {
  font-family: 'Noto Serif', sans-serif;
  margin-top: 2rem;
}

.main h3 {
  text-align: center;
}

.card-header .heart {
  z-index: 100;
  position: absolute;
  left: auto;
  right: 10%;
  top: 10%;
  padding: 0;
}

.card-footer {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0;
  background: black;
}

.card-body .collapse{
  font-family: 'Noto Serif', sans-serif;
  font-weight: 900;
  margin-bottom: 1rem;
}

.strikethrough{
  text-decoration: line-through;
  display: inline;
}

#priceCollapse span{
  display: inline;
  margin-left: 10px;
  color: red;
}

.buy_button #buyButtion20ml{
  display: block;
}
#buyButtion50ml , #buyButtion100ml{
  display: none;
}