.container.signup{
  background: $auth_box_bg;
  padding-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.container.login .box {
  background: $auth_box_bg;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
