{{> layouts/head }}
{{> layouts/header }}
<hr>
<h2 class="product__title text-center mt-5 mb-0">БРЕНД MONTALE</h2>

<div class="container account">
    <div class="row d-flex flex-column">



        <div class="row md-4 mt-4 pt-4 pd-4">
            <div class="col-md-4">
                <img src="/images/image003.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-4 mt-4">
                    <p class="card-text">Французский законодатель удовой моды</p>
                    <p class="card-text">История Пьера Монталя началась 20 лет назад в дальних уголках Саудовской Аравии. </p>
                    <p class="card-text">Вдохновлённый красотой и таинствами восточного мира, между учёбой и путешествиям, он сочинил уникальные парфюмерные композиции из розы, ладана, янтаря, кедра, древесины и тысячи других компонентов. </p>
                    <p class="card-text">Фаворит состава его парфюмов — масло удового дерева. Вернувшись на родину в 2003 году, он представил свои первые творения под маркой Montale. Уникальное обонятельное погружение, раскрывающее совершенство каждого компонента парфюмерного букета. Пьер получил признание монарших особ Востока, среди которых вся королевская семья Саудовской Аравии.</p>
                </div>
            </div>
        </div>

        <a class="center-block align-self-center mb-5 mt-5" href="/">
            <button>ПРОДОЛЖИТЬ ПОКУПКИ</button>
        </a>
    </div>
</div>


{{> layouts/footer}}