{{> layouts/head }}
{{> layouts/header }}
<hr>
<div class="container">
    <div class="row mt-2">
        <div class="inner-wrapper col-11 col-md-12 mx-auto">

            <div class="row">
                <div class="col-12 col-md-6 mb-5 mt-4">
                    <div class="block-contact mb-5">
                        <h4>Контактная информация</h4>
                        <h5>OOO «Вектор-Парфюм»</h5>
                        <i class="fas fa-phone"></i> +7 (495) 601-93-74 доб.10<br>
                        <span style="font-size: 1.2rem;">Петровка ул., 2, Москва, 125009</span><br><br>
                        <span>ИНН: 5038051596</span><br><br>
                        <span>ОГРН: 1065038031783</span>

                    </div>
                    <section class="contact-form">
                        <form action="/contact" method="post" enctype="multipart/form-data">

                            <section class="form-fields">

                                <div class="form-group row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <h3>Свяжитесь с нами</h3>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-lg-3 form-control-label">Электронная почта*</label>
                                    <div class="col-lg-6">
                                        <input class="form-control" name="email" type="email" value=""
                                               placeholder="Ваша электронная почта">
                                    </div>
                                </div>


                                <!--<div class="form-group row">-->
                                <!--<label class="col-md-3 form-control-label">Приложите файл</label>-->
                                <!--<div class="col-md-6">-->
                                <!--<input type="file" name="fileUpload" id="filestyle-0" class="filestyle" data-buttontext="Choose file" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="bootstrap-filestyle input-group"><input type="text" class="form-control " placeholder="" disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText">Choose file</span></label></span></div>-->
                                <!--</div>-->
                                <!--</div>-->

                                <div class="form-group row">
                                    <label class="col-lg-3 form-control-label">Сообщение*</label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" name="message"
                                                  placeholder="Чем мы можем Вам помочь?" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-md-3 col-md-6">

                                    </div>
                                </div>

                            </section>
                            <footer class="form-footer text-sm-right">


                                <div class="form-group row">
                                    <div class="col-12 col-md-6 mx-auto">
                                        <input class="btn btn-primary link-white my-3 w-100" type="submit"
                                               name="submitMessage" value="Отправить сообщение">
                                    </div>
                                </div>
                            </footer>

                        </form>
                    </section>
                </div>
                <div style="height: 400px; " class="col-12 col-md-6 mt-4">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4d7d2c595ab2ee2b87da3a80f261bc0df13ba1f93f849bf846f4221c33113123&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>


            </div>
        </div>
    </div>
</div>


{{> layouts/footer}}