{{> layouts/head }}
{{> layouts/header }}
<hr>
<div class="container account">
    <div class="row d-flex flex-column">


        <h4 class="align-self-center mt-4 mb-5">ПУБЛИЧНАЯ ОФЕРТА</h4>

        <p>Интернет-магазин «Montale», расположенный на доменном имени _______, ООО "Вектор-Парфюм", и юридическим
            адресом
            141280, Россия, Московская обл., г. Ивантеевка, проезд Студенческий, д.12, кв. 26, в лице генерального
            директора,
            Белова Сергея Владимировича, срок полномочий до 02.10.2020 г., действующего на основании Устава №001 от
            10.10.2009,
            протокола общего собрания №2 от 01.06.2010, именуемый
            в дальнейшем «Продавец», публикует Публичную оферту о продаже Товара дистанционным способом.</p>

        <h5 class="align-self-center mt-3">1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h5>

        <p><strong>1.1. </strong>Публичная оферта (далее – «Оферта») - публичное предложение Продавца, адресованное
            неопределенному кругу лиц, заключить с Продавцом договор купли-продажи товара дистанционным способом (далее
            - «Договор») на условиях, содержащихся в настоящей Оферте, включая все Приложения.</p>
        <p><strong>1.2. </strong>Заказ Товара на сайте Интернет-магазина – позиции указанные Покупателем из ассортимента
            Товара, предложенного к продаже, при оформлении заявки на приобретение Товара на сайте Интернет-магазина или
            через Оператора.</p>
        <h5 class="align-self-center mt-3">2. ОБЩИЕ ПОЛОЖЕНИЯ</h5>
        <p>

        <p><strong>2.1. </strong> Заказ Покупателем Товара, размещенного на сайте Интернет-магазина означает, что
            Покупатель
            согласен со всеми условиями настоящей Оферты.</p>
        <p><strong>2.2. </strong> Администрация сайта Интернет-магазина имеет право вносить изменения в Оферту без
            уведомления
            Покупателя.</p>
        <p><strong>2.3. </strong> Срок действия Оферты не ограничен, если иное не указано на сайте Интернет-магазина.
        </p>
        <p><strong>2.4. </strong> Продавец предоставляет Покупателю полную и достоверную информацию о Товаре, включая
            информацию
            об основных потребительских свойствах Товара, месте изготовления, а также информацию о гарантийном сроке и
            сроке
            годности Товара на сайте Интернет магазина, в разделе название раздела.</p>
        </p>
        <h5 class="align-self-center mt-3">3. ЦЕНА ТОВАРА</h5>
        <p>
        <p><strong>3.1. </strong> Цена на каждую позицию Товара указана на сайте Интернет-магазина. </p>
        <p><strong>3.2. </strong> Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара.
        <p><strong>3.3. </strong> В случае изменения цены на заказанный Товар Продавец обязуется в течение количество
            дней
            проинформировать Покупателя об изменении цены Товара. </p>
        <p><strong>3.4. </strong> Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если
            цена
            изменена Продавцом после оформления Заказа. </p>
        <p><strong>3.5. </strong> Изменение Продавцом цены на оплаченный Покупателем Товар не допускается. </p>
        <p><strong>3.6. </strong> Продавец указывает стоимость доставки Товара на сайте Интернет-магазина либо сообщает
            Покупателю при оформлении заказа Оператором. </p>
        <p><strong>3.7. </strong> Обязательства Покупателя по оплате Товара считаются исполненными с момента поступления
            Продавцом денежных средств. </p>
        <p><strong>3.8. </strong> Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными на
            сайте
            Интернет-магазина в разделе название раздела </p>
        </p>
        <h5 class="align-self-center mt-3">4. ОФОРМЛЕНИЕ ЗАКАЗА</h5>
        <p>
        <p><strong>4.1.</strong> Заказ Товара осуществляется Покупателем через Оператора через сервис сайта
            Интернет-магазина
            www.montale.ru. </p>
        <p><strong>4.2.</strong> При регистрации на сайте Интернет-магазина Покупатель обязуется предоставить следующую
            регистрационную информацию: </p>
        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2.1.</strong> фамилия, имя, отчество Покупателя или указанного им лица (получателя); </p>
        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2.2.</strong> адрес, по которому следует доставить Товар (если доставка до адреса Покупателя); </p>
        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2.3.</strong> адрес электронной почты; </p>
        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2.4.</strong> контактный телефон. </p>
        <p><strong>4.3.</strong> Наименование, количество, ассортимент, артикул, цена выбранного Покупателем Товара
            указываются
            в корзине Покупателя на сайте Интернет-магазина. </p>
        <p><strong>4.4.</strong> Если Продавцу необходима дополнительная информация, он вправе запросить ее у
            Покупателя. В
            случае не предоставления необходимой информации Покупателем, Продавец не несет ответственности за выбранный
            Покупателем Товар. </p>
        <p><strong>4.5.</strong> При оформлении Заказа через Оператора (п. 4.1. настоящей Оферты) Покупатель обязуется
            предоставить информацию, указанную в п. 4.2. настоящей Оферты. </p>
        <p><strong>4.6.</strong> Принятие Покупателем условий настоящей Оферты осуществляется посредством внесения
            Покупателем
            соответствующих данных в регистрационную форму на сайте Интернет-магазина или при оформлении Заказа через
            Оператора.
            После оформления Заказа через Оператора данные о Покупателе регистрируются в базе данных Продавца. Утвердив
            Заказ
            выбранного Товара, Покупатель предоставляет Оператору необходимую информацию в соответствии с порядком,
            указанном в
            п. 4.2. настоящей Оферты. </p>
        <p><strong>4.7.</strong> Продавец не несет ответственности за содержание и достоверность информации,
            предоставленной
            Покупателем при оформлении Заказа. </p>
        <p><strong>4.8.</strong> Покупатель несет ответственность за достоверность предоставленной информации при
            оформлении
            Заказа. </p>
        <p><strong>4.9.</strong> Договор купли-продажи дистанционным способом между Продавцом и Покупателем считается
            заключенным с момента выдачи Продавцом Покупателю кассового или товарного чека либо иного документа,
            подтверждающего
            оплату Товара. </p>
        </p>

        <h5 class="align-self-center mt-3">5. ДОСТАВКА И ПЕРЕДАЧА ТОВАРА ПОКУПАТЕЛЮ</h5>
        <p>
        <p><strong>5.1.</strong> Продавец оказывает Покупателю услуги по доставке Товара одним из способов указанных на
            сайте
            Интернет-магазина. </p>
        <p><strong>5.2.</strong> Если Договор купли-продажи товара дистанционным способом (далее – Договор) заключен с
            условием
            о доставке Товара Покупателю, Продавец обязан в установленный Договором срок доставить Товар в место,
            указанное
            Покупателем, а если место доставки Товара Покупателем не указано, то по месту его жительства или
            регистрации. </p>
        <p><strong>5.3.</strong> Место доставки Товара Покупатель указывает при оформлении Заказа на приобретение
            Товара. </p>
        <p><strong>5.4.</strong> Срок доставки Товара Покупателю состоит из срока обработки заказа и срока доставки.
        </p>
        <p><strong>5.5.</strong> Доставленный Товар передается Покупателю, а при отсутствии Покупателя - любому лицу,
        </p>
        предъявившему квитанцию или иной документ, подтверждающий заключение Договора или оформление доставки Товара.
        <p><strong>5.6.</strong> В момент передачи Товара в обязательном порядке в письменной форме Покупателю
            сообщаются
            сведения, предусмотренные в Приложении № номер к Договору. </p>
        <p><strong>5.7.</strong> Информация о Товаре доводится до сведения Покупателя в технической документации,
            прилагаемой к
            Товару, на этикетках, путем нанесения маркировки или иным способом, принятым для отдельных видов товаров.
        </p>
        <p><strong>5.8.</strong> Сведения об обязательном подтверждении соответствия Товара представляются в порядке и
            способами, которые установлены законодательством Российской Федерации о техническом регулировании, и
            включают в себя
            сведения о номере документа, подтверждающего такое соответствие, о сроке его действия и об организации, его
            выдавшей. </p>
        </p>
        <h5 class="align-self-center mt-3">6. РЕКВИЗИТЫ ПРОДАВЦА</h5>
        <p>
            Продавец: Белов Сергей Владимирович <br>
            ООО "Вектор-Парфюм"<br>
            Адрес:<br>
            141280, Россия, Московская обл., г. Ивантеевка, проезд Студенческий, д.12, кв. 26<br>
            Банковские реквизиты<br>
            К/с: 30101810345250000745<br>
            Бик: 044525745<br>
            ИНН: 5038051596<br>
            ОГРН: 1065038031783<br>
        </p>
        <p>
            Внимательно ознакомьтесь с текстом публичной оферты, и если Вы не согласны с каким-либо пунктом оферты, Вы
            вправе
            отказаться от покупки Товаров, предоставляемых Продавцом, и не совершать действий, указанный в п. 2.1.
            настоящей
            Оферты.
        </p>


        <a class="center-block align-self-center mb-5 mt-5" href="/">
            <button>ПРОДОЛЖИТЬ ПОКУПКИ</button>
        </a>
    </div>
</div>



{{> layouts/footer}}