{{> layouts/head }}
{{> layouts/header }}
<div class="container">
    <div class="info jumbotron">
        <h2>Оплата успешно произведена</h2>
        <h3>Заказ находится в стадии обработки, менеджер свяжется с Вами по контактному номеру телефона</h3>
    </div>
    <div class="text-center">
        <a href="/">
            <button class="btn btn-success">Продолжить покупки</button>
        </a>
    </div>
</div>
{{> layouts/footer }}
